@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
    font-family: 'NanumSquare', sans-serif;
    }
 

.company-name {
    
}

.companyname {
    font-size: 35px;
    font-weight: bold;
}



h1 {
    text-align: center;
}

.main-explain {
    text-align: center;
}



.btn {
    display: block;
    
}
