@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
    font-family: 'NanumSquare', sans-serif;
    }
 h2{
     font-family: Arial, Helvetica, sans-serif;
 }

 .card-container {
     text-align: center;
     max-width: 1200px;
     margin: auto;
     margin-top: 70px;
 }